@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/flexbox" as *;
@use "../abstracts/font" as *;

/***
====================================================================
        Banner Section
====================================================================
***/

.banner-section {
  position: relative;

  .background-text {
    position: absolute;
    right: -280px;
    bottom: 190px;
    z-index: 99;
    text-transform: uppercase;
    font-size: 240px;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 200px;
    color: rgb(255 255 255 / 0.1);
    transform: rotate(-30deg);

    .text-2 {
      position: absolute;
      top: -5px;
      left: 15px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255 255 255 / 0.2);
      color: transparent;
    }
  }

  .three-item-carousel,
  .banner-slider {
    position: relative;
    height: 100% !important;
    z-index: 9;
  }

  .swiper-slide {
    position: relative;
    inset: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      inset: 0;
      background-color: #000;
      opacity: 0;
      content: "";
    }
  }

  .content-outer {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
  }

  .content-box {
    position: relative;
    padding: 50px 15px;
    min-height: 870px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .inner {
      opacity: 0;
      transform: translateX(100px);
    }

    h1 {
      font-size: 80px;
      font-weight: 800;
      line-height: 80px;
      color: #fff;
      text-transform: uppercase;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      margin-bottom: 10px;
      font-family: "Mukta", sans-serif;
      transition: all 500ms ease;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 2px;
        width: 100%;
        max-width: 770px;
        transform: translateX(-50%);
      }
    }

    h4 {
      font-size: 18px;
      line-height: 1.2em;
      color: #fff;
      font-weight: 500;
      padding: 12px 20px;
      text-transform: uppercase;
      margin-bottom: 30px;
      background-color: rgba(33, 33, 33, 0.4);
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      transition: all 500ms ease;
      display: inline-block;
    }

    .text {
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-50px);
      margin-bottom: 25px;
      transition: all 500ms ease;
    }
  }

  .link-box {
    padding-top: 20px;
    transform: scaleY(0);
    transform-origin: bottom;
    margin: 0 -10px;
    transition: all 500ms ease 2000ms;

    a {
      margin: 0 10px 10px;
      transition: 0.5s ease;
    }
  }

  /* Active slide animations */
  .swiper-slide-active {
    .content-box {
      .inner {
        opacity: 1;
        transform: translateX(0);
        transition: all 500ms ease;
      }

      h1 {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 800ms;
      }
    }

    h4 {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition-delay: 1200ms;
    }

    .text {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition-delay: 1600ms;
    }

    .link-box {
      transform: scale(1);
    }
  }

  /* Navigation */
  .banner-slider-nav {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.style-two {
      left: 0;
      right: auto;
      top: auto;

      .banner-slider-button-prev,
      .banner-slider-button-next {
        width: 106px;
        height: 53px;
        line-height: 53px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .banner-slider-button-prev {
        background: #293e9c;

        i {
          margin-right: 10px;
          position: relative;
          top: 1px;
        }
      }

      .banner-slider-button-next {
        i {
          margin-left: 10px;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .banner-slider-button-next,
  .banner-slider-button-prev {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    font-size: 18px;
    background-color: #fff;
    color: #212121;
    transition: 0.5s;
  }

  .banner-slider-button-next {
    margin-right: 50px;
    // transform: rotate(180deg);
  }

  .banner-slider-button-prev {
    margin-left: 50px;
  }
}
