/* Hidden Bar */

.hidden-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99999;
  width: 100%;
  max-width: 410px;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.3s ease all;
  
  &.open {
    right: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.hidden-sidebar-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  cursor: pointer;
  color: #212121;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.hidden-sidebar .logo {
  margin-bottom: 35px;
}

.hidden-sidebar .wrapper-box {
  height: 100%;
}

.hidden-sidebar .content-wrapper {
  padding: 80px 30px;
  position: relative;
  background: #212121;
}

.hidden-sidebar .sidebar-widget {
  margin-bottom: 40px;
}

.hidden-sidebar .text-widget .text {
  font-size: 17px;
  color: #a3a3a3;
  margin-bottom: 0;
}

.hidden-sidebar .copyright-text {
  color: #a3a3a3;
  font-size: 17px;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  // display: none;
  opacity: 0;
  background: rgba(20, 20, 20, 0.7);
  overflow: hidden;
  // cursor: none;
  transition: 0.3s ease all;
  pointer-events: none;

  &.open {
    // display: block;
    opacity: 1;
    pointer-events: all;
  }
}

.single-brochure a:hover {
  background: transparent;
}
